In [1]:

# predefined  functions
#METHOD: all()
#DESCRIPTION : Returns ture when all elements in iterable is true.
a = (2,3,5,7,11)
print(all(a))

True

In [2]:
a = (0,2,3,5,7,11)
print(all(a))

False

In [3]:
#METHOD: any()
#DESCRIPTION : Check if any element of an iterable is true.

a = (0,2,3,5,7,11)
print(any(a))

True

In [17]:
#METHOD: acsii()
#DESCRIPTION : Returns string containing printable presentation of an object.
a = 'Denmark'
print(ascii(a))
x = 'Denmark£'
print(ascii(x))

'Denmark'
'Denmark\xa3'

In [9]:
#METHOD: bin()
#DESCRIPTION : Conert deecimal number into binary.
num = (1234)
bin(num)

'0b10011010010'

In [16]:
#METHOD: bool()
#DESCRIPTION : Converts the given value to boolean
num = (123456)
bool(num)

True

In [22]:
#METHOD: pow()
#DESCRIPTION : Return the power of a number
number = 2
pow(number,6)

64

In [24]:
#METHOD: hex()
#DESCRIPTION :Converts to Integer to Hexadecimal.
a= (123)
hex(a)

'0x7b'

In [25]:
#METHOD: oct()
#DESCRIPTION : returns an integer’s octal representation.
a= (123)
oct(a)

'0o173'

In [2]:
#METHOD: islower()
#DESCRIPTION : Returns a true where all characters are lower case.
text = ('MY NAME IS ALI')
text.islower()

False

In [3]:
#METHOD: isupper()
#DESCRIPTION : Returns a true where all characters are upper case.
text = ('MY NAME IS ALI')
text.isupper()

True

In [3]:
#METHOD: istitle()
#DESCRIPTION :  Returns a true when the first letter of every word in the string in uppercase and rest in lowercase.
text = 'World Is Beautiful:'
text.istitle()

True